<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->

<div class="container app">
  <div class="row app-one">
    <div class="col-sm-4 side">
      <div class="side-one">
        <div class="row heading">
          <div class="col-sm-6 col-xs-6 heading-avatar">
            <div class="heading-user-icon"></div>
          </div>
          <div class="col-sm-2 col-xs-2 heading-dot pull-right">
            <p class="loggedInDateTime">-</p>
          </div>
        </div>

        <div class="row searchBox">
          <div class="col-sm-12 searchBox-inner">
            <div class="form-group has-feedback">
              <input id="nickname" type="text" class="form-control" name="nickname" placeholder="Your name">
            </div>
          </div>
        </div>

        <div class="row sideBar"></div>

      </div>

      
    </div>

    <div class="col-sm-8 conversation">
      <div class="row heading">
        <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
          <div class="heading-avatar-icon">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
          </div>
        </div>
        <div class="col-sm-8 col-xs-7 heading-name">
          <a class="heading-name-meta">John Doe</a>
          <span class="heading-online">Online</span>
          <p class="heading-socket-id">-</p>
        </div>
        <div class="col-sm-2 col-xs-2  heading-dot pull-right">
          <img id="myBtn" src="https://image.flaticon.com/icons/svg/107/107072.svg" width="40" height="40"/>
          <!-- Trigger/Open The Modal -->
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <img id='barcode' 
                src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=400x400" 
                alt="" 
                title="HELLO" 
                width="400" 
                height="400" />
              <a class="qrContent" href="google.com" target="_blank">QR link</a>
            </div>
          </div>


        </div>
      </div>

      <div class="row message" id="conversation">
        <div class="row message-previous">
          <div class="col-sm-12 previous">
            <a onclick="previous(this)" id="ankitjain28" name="20">
            Show Previous Message!
            </a>
          </div>
        </div>

      </div>

      <div class="row reply">
        <div class="col-sm-1 col-xs-1 reply-emojis">
          <i class="fa fa-smile-o fa-2x"></i>
        </div>
        <div class="col-sm-9 col-xs-9 reply-main">
          <input type="text" class="form-control" id="comment"></textarea>
        </div>
        <div class="col-sm-1 col-xs-1 reply-recording">
          <i class="fa fa-files-o fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-sm-1 col-xs-1 reply-send">
          <i class="fa fa-send fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>